/* ============ MESSAGES ============ */

.messages-wrapper {
    padding: 0 8px;
    width: 100%;
    height: 100%;
    display: flex;
    overflow-x: hidden;
    overflow-y: scroll;
}

.messages-wrapper::-webkit-scrollbar {
    display: none;
}

.messages-container {
    flex-direction: column;
    row-gap: 3%;
    padding-top: 5%;
    display: flex;
    min-width: 90%;
}

.messages-container> :last-child {
    padding-bottom: 3%;
}

.messages-container> :last-child .user-chat-arrow {
    padding-bottom: 3%;
}



.bot-message-wrapper {
    position: relative;
    display: flex;
    flex-direction: row;
    max-width: 85vw;
    align-items: flex-end;
}

.bot-message-container {
    border-radius: 20px 20px 20px 0;
    padding: 3% 5%;
    background-color: var(--color2-dr-th);
    align-items: flex-end;
    max-width: 75%;
}

.bot-message-container p {
    text-align: left;
}

.code-container pre {
    border-radius: 10px;
}

.code-container h1 {
    word-break: break-word;
}

.bot-chat-arrow {
    position: absolute;
    bottom: auto;
    left: -8px;
    fill: var(--color2-dr-th);
    width: 9px;
    height: 17px;
}



.human-message-wrapper {
    display: flex;
    flex-direction: row-reverse;
    position: relative;
    align-items: flex-end;
}

.human-message-container {
    border-radius: 20px 20px 0 20px;
    max-width: 75%;
    padding: 3% 5%;
    background-color: var(--color1-dr-th);
    align-items: flex-end;
    word-break: break-word;
}

.user-chat-arrow {
    position: absolute;
    bottom: 0;
    right: -8px;
    fill: var(--color1-dr-th);
    width: 9px;
    height: 17px;
}