/* ============ ABOUT ============ */

.submit-btn {
    padding: 10px 30px;
    border-radius: 50px;
    background-color: var(--color1-dr-th);
    border: none;
    color: var(--text-dr-th);
    position: relative;
}

.submit-btn::before {
    content: '';
    border-radius: 50px;
    width: calc(100% + 6px);
    height: calc(100% + 6px);
    background: var(--gradient-dr-th-90deg);
    position: absolute;
    z-index: -1;
    left: -3px;
    top: -3px;
    background-size: 200%;
    animation: ln-bg-gr-animation2 2s ease infinite;
}

.about-btn {
    padding: 10px;
}

.about-btn svg {
    width: 20px;
    height: 20px;
}

.about-me-container {
    padding-top: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 3%;
    min-height: calc(1280px / 20);
}

.this-is-me {
    width: 25%;
}

.this-is-me-text {
    font-size: larger;
}

.about {
    display: grid;
    justify-items: center;
    gap: 2%;
}

.about h1 {
    font-size: 150%;
    text-align: center;
    margin-bottom: 2%;
}

.about h2 {
    font-size: 115%;
    text-align: justify;
}

.about-text {
    width: 70%;
    margin: 5% 0;
}

.stack-container {
    width: 55%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 3%;
}

.icon {
    height: auto;
    flex: 0 0 22%;
}

.react {
    fill: #00D8FF;
}

.html {
    fill: #E44D26;
}

.css {
    fill: #264DE4;
}

.node {
    fill: #75AC64;
}

.logo {
    stroke: var(--text-dr-th);
    fill: var(--backgr-color-dr-th);
    width: clamp(38px, 11.5vw, 50px);
    height: clamp(27px, 4vh, 36px);
}