/* ============ MAIN ============ */

.main-page-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  justify-content: space-between;
}

.main-wrapper {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.message-navbar {
  display: flex;
  height: calc(100% - 60px - 2%);
}

@media (max-height: 600px) {
  .message-navbar {
    height: calc(100% - 60px - 3%);
  }
}

@media (max-height: 400px) {
  .message-navbar {
    height: calc(100% - 60px - 4%);
  }
}

@media (max-height: 400px) {
  .message-navbar {
    height: calc(100% - 60px - 5%);
  }
}