/* ============ MAIN ============ */

.main-page-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
}

.main-wrapper {
  width: 100%;
  overflow: hidden;
  position: relative;
}

.message-navbar {
  display: flex;
}
